Package: wfplug-connect-dbgsym
Source: wfplug-connect
Version: 1.14
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Simon Long <simon@raspberrypi.com>
Installed-Size: 67
Depends: wfplug-connect (= 1.14)
Section: debug
Priority: optional
Description: debug symbols for wfplug-connect
Build-Ids: cf168fc7959c0f3e7df70658842a0d09d069fedd
